.modal {
    display: inline-flex;
    background: #FFF;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 1px 1px 30px #CCC;
    width: auto;
    max-width: 1000px;
    position: relative;
    align-self: flex-start;
    margin-top: 10%
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 15px;
}