.formBlock {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 13px;
  box-shadow: 1px 1px 100px #ccc;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 500px;
}

.formBlockLabel {
  position: absolute;
  padding: 30px;
  background: #ccc;
  z-index: -1;
  right: 15px;
  top: -65px;
  font-weight: bolder;
  border-radius: 7px;
}

.background {
  background-image: url('../../assets/pattern.svg');
  background-size: 300px;
  background-blend-mode: difference;
  background-color: hsla(44, 85%, 57%, 0.555);
  min-height: 100vh;
  animation: loop-pattern 300s linear infinite;
  display: flex;
  width: 100%;
}

@keyframes loop-pattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -9300px 0
  }
}