.product {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  /* border: solid 1px #CCC; */
  box-shadow: 1px 1px 20px #CCC;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 10px;
  background: #FFF;
  position: relative;
}

.description {
  width: 66.66%;
}

.productController {
  width: 33.33%;
  justify-content: flex-end;
}

.quantity {
  padding: 20px;
  margin-right: 15px;
  font-weight: bold;
  color: var(--error-color);
  border: dashed 3px;
  border-radius: 7px;
}

.productController > * {
  display: flex;
  width: 30px;
  justify-content: center
}

.addProduct {
  justify-content: right;
}

.addProductContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .quantity {
    flex-grow: 0
  }
  .description {
    flex-grow: 0;
  }
  .productController {
    display: flex;
    flex-direction: column;
  }
  .productController>* {
    margin: 5px !important;
  }
}