.productFilterContainer {
  display: flex;
  border-radius: 7px;
  justify-items: center;
  margin-top: 15px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 1px 1px 20px #ccc;
}

.productFilter {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 !important;
}

.productFilter > input {
  border: none !important;
  height: 100%;
  padding: 10px;
}

.productFilter > input:focus {
  outline: none;
}

.searchButton {
  width: 50px;
  padding: 15px;
  background: var(--default-color);
  box-sizing: border-box;
  color: #fff;
}
