.summary {
  min-width: 300px;
}

.quantity {
  font-size: 2rem;
  display: inline-flex;
  width: 80px;
  padding: 5px;
}

.descr {
  display: inline-flex;
}

.errorBlock {
  border: solid 2px var(--error-color);
  padding: 25px;
  color: var(--error-color);
  margin-top: 20px;
  line-height: 1.3;
}