.chatMessage {
  display: flex;
  align-content: center;
  margin: 15px;
}

.text {
  width: 100%;
  text-align: right;
  margin: 5px;
}

.text div:after {
  content: '';
  border: solid 7px transparent;
  border-left: solid 15px #fff;
  position: absolute;
  right: -17px;
  top: 10px;
  transform: rotate(-10deg);
  width: auto;
}

.text div {
  display: inline-block;
  background: #fff;
  padding: 15px 15px;
  margin-right: 10px;
  border-radius: 7px;
  line-height: 1.4;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

.name {
    display: block;
    font-size: 12px;
    margin-right: 12px;
}

.text .currentUser {
  background: #69d38e;
}

.text .currentUser:after {
  border-left: solid 15px #69d38e;
}
.avatar {
  border-radius: 50%;
}
