.layout {
  /* background-image: url('../../assets/pattern.svg'); */
  background-size: 300px;
  background-blend-mode: hard-light;
  -webkit-backdrop-filter: opacity(0.3);
  background-color: hsla(44, 85%, 57%, 0.411);
  min-height: 100vh;
  width: 100%;
}

.layout > div {
  max-width: 1200px;
  margin: auto;
}
