.layout {
  /* background-image: url('../../assets/pattern.svg'); */
  background-size: 300px;
  /* background-blend-mode: hard-light;
  -webkit-backdrop-filter: opacity(0.3);
  background-color: hsla(44, 85%, 57%, 0.411); */
  /* min-height: 100vh; */
  width: 100%;
}

.layout > div {
  max-width: 1200px;
  margin: auto;
}

.mailNotVerifiedContainer {
  display: flex;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.commonArea {
  position: relative;
  left: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.layoutMailNotVerified {
  display: flex;
  background-size: 300px;
  background-blend-mode: hard-light;
  -webkit-backdrop-filter: opacity(0.3);
  background-color: hsla(44, 85%, 57%, 0.411);
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.mailBlock {
  display: block;
  top: 0;
  padding: 70px 25px;
  border-radius: 7px;
  position: relative;
  background: #fff;
  width: 100%;
  margin: auto;
  box-shadow: 1px 1px 100px #ccc;
  text-align: center;
  transform: rotate(0deg);
  animation: pulse 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.profileSection {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 101;
  cursor: pointer;
}

.profileSection:hover,
.profileSection:global(.active) {
  color: #2b2b2b;
  background: #fff;
}

.menuItems {
  position: relative;
}

.menuItem:hover {
  background: #2b2b2b;
  color: #fff;
}

.menuItem {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  padding: 15px 15px;
  color: #2b2b2b;
  cursor: pointer;
  display: block;
}

.profileMenu {
  position: absolute;
  transition: 1s;
  display: block;
  overflow: hidden;
  top: 100%;
  right: 0;
  z-index: 200;
  min-width: 100%;
  background: #fff;
  box-shadow: -10px 10px 10px rgba(204, 204, 204, 0.459);
  border-bottom-left-radius: 7px;
}
.profile {
  width: 140px;
}
.avatar {
  width: 52px;
  height: 52px;
  background-size: cover;
  background-position: center center; 
  margin: 10px;
  margin-left: 20px;
  box-sizing: border-box;
  border-radius: 50%;
}
.avatar img {
  max-width: 100%;
  border-radius: 50%;
}

.envelop {
  display: flex;
  font-size: 2rem;
  border-radius: 50%;
  /* border: solid 3px; */
  width: 100px;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  top: -50px;
  background: #fff;
  box-shadow: 1px 1px 10px #ccc;
}

.mailBlockContent {
  font-size: 1.5em;
  line-height: 1.6;
}

@keyframes pulse {
  0% {
    /* box-shadow: 1px 1px 100px #ccc; */
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}
