:root {
  --main-bg-color: brown;
  --error-color: hsl(14, 100%, 53%);
  --success-color: hsl(141, 71%, 48%);
  --warning-color: hsl(48, 100%, 67%);
  --default-color: hsl(217, 71%, 53%);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul {
  font-family: 'Questrial', sans-serif;
  color: #333131;
  font-size: 18px;
  line-height: 1.3;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: bold;
}

h6 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h1 {
  font-size: 2.2em;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  box-sizing: border-box;
}

a {
  color: var(--default-color);
  text-decoration: none;
}
.column {
  flex-direction: column;
}

.full-height {
  height: 100vh;
  width: 100%;
  /* place-content: flex-end; */
}

.toolbarOpen {
  overflow: hidden;
}

.modalOpen {
  overflow: hidden;
}
.nav {
  width: 'flex';
  flex-direction: column;
  /* border-bottom: solid 3px #ccc; */
  justify-content: center;
}

.nav .nav-item {
  display: inline-flex;
  padding: 15px;
  height: 100%;
  color: inherit;
  text-decoration: none;
  position: relative;
  align-items: center;
}

.nav .nav-item:after {
  position: absolute;
  content: '';
  bottom: -3.7px;
  left: 50%;
  width: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav .nav-item:active,
.nav .nav-item.active {
  width: 100%;
  left: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  zoom: 1.2;
}

.nav.default {
  background: #2b2b2b;
  color: #ccc;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
}
.nav--left {
  align-content: flex-start;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.nav--right {
  flex-grow: 1;
  align-content: flex-end;
  display: inline-flex;
  align-items: center;
}

.input {
  align-items: center;
  padding: 15px;
  padding-bottom: 0;
}

.input label {
  margin-right: 15px;
  padding: 10px;
  padding-left: 0;
}

.input input {
  box-shadow: 1px 1px 10px transparent;
  border: solid 1px;
}

.input.block input {
  width: 100%;
}

.input.block {
  flex-direction: column;
}

.input.block .label {
  display: inline-flex;
  align-self: baseline;
}

.input input:focus {
  background: #ccc;
}

.input-sm {
  padding: 10px 10px;
}

.input.has-error input {
  color: var(--error-color);
}

.input.has-warning input {
  color: var(--warning-color);
}

.input.has-success input {
  color: var(--success-color);
}

.form.block {
  flex-direction: column;
}

.form.block > * {
  display: flex;
  align-content: center;
}

.btn {
  padding: 15px 25px;
  border-radius: 7px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 15px;
  background: var(--default-color);
  color: #fff;
  border: none;
  display: inline-flex;
  align-self: flex-end;
  font-size: 1.2rem;
}

.btn.btn--md {
  padding: 10px 15px;
}

.btn:active,
.btn:focus {
  background-blend-mode: multiply;
  animation: onpress 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
}

.btn--disabled {
  background: #ccc;
  cursor: not-allowed;
}

.hr {
  border: dotted 2px;
  border-bottom-style: none;
}
.gutter {
  padding: 15px;
}
.message-bar {
  padding: 20px 15px;
  text-align: center;
  box-shadow: 1px 5px 20px #2b2b2b8f;
  position: sticky;
  z-index: 100;
  top: 0;
}

.message-bar__danger {
  color: #fff;
  background: var(--error-color);
}

.message-bar__info {
  color: #fff;
  background: var(--default-color);
}

.message-bar__success {
  color: #fff;
  background: var(--success-color);
}

@keyframes onpress {
  from {
    box-shadow: 1px 1px 30px #ccc;
  }
  to {
    box-shadow: 1px 1px 0px #ccc;
  }
}
